---
layout: default
description: A description about my blog homepage
title: Blog Posts
---

<div class="span3 content aside">
  <div class="padding10">
    <h4>Florent Viel</h4>
    <hr>
    <img src="http://www.gravatar.com/avatar/34df2fcf73fb6b987f3e2ea2bcf47802?s=220" class="img-polaroid" />
  </div>
</div>
<div class="span6 content">
  <div class="posts padding10">
    <ul class="media-list">
      {% for post in paginator.posts %}
        <li class="media">
          <h4><a href="{{ post.url }}">{{ post.title }}</a> <small class="muted">le {{ post.date | date_to_string }}</small></h4>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="pagination padding10">
    <ul>
      {% if paginator.previous_page %}
      <li>
        {% if paginator.previous_page == 1 %}
        <a href="/">&laquo;</a>
        {% else %}
        <a href="/page{{paginator.previous_page}}">&laquo;</a>
        {% endif %}
      </li>
      {% else %}
      <li class="disabled">
        <span>&laquo;</span>
      </li>
      {% endif %}

      {% if paginator.page == 1 %}
        <li class="active">
          <span>1</span>
      {% else %}
        <li>
          <a href="/">1</a>    
      {% endif %}
        </li>

      {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="active">
            <span>{{count}}</span>  
        {% else %}
          <li>
            <a href="/page{{count}}">{{count}}</a>
        {% endif %}
          </li>
      {% endfor %}

      {% if paginator.next_page %}
      <li>
        <a href="/page{{paginator.next_page}}">&raquo;</a>
      </li>
      {% else %}
      <li class="disabled">
        <span>&raquo;</span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>