$linkColor: #5e777d;
$baseFontSize: 16px;
$gridColumnWidth: 70px;
$gridColumnWidth1200: 70px;
$gridGutterWidth: 20px;
$gridGutterWidth1200: 20px;
$sansFontFamily: 'Poly', serif;

@import "bootstrap";
@import "bootstrap-responsive";

// add your styles, see http://compass-style.org/

body {
    background-image: url('/images/graphy.png');
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
}

h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
}

pre {
    overflow: auto;
    code {
        white-space: pre;
    }
}

.content {
    background: white;
}

.padding10 {
    padding: 10px;
}

.aside {
    border-top: 5px solid #5e777d;
}

.label {
    &.php {
        background: #7777AA;
    }

    &.ruby {
        background: #C61A1A;
    }

    &.github {
        background: #4183C4;
    }

    &.python {
        background: #FFBC29;
    }

    &.git {
        background: #F14E32;
    }

    &.javascript {
        background: #F0DB4F;
    }
}