$linkColor: #5e777d;
$baseFontSize: 16px;
$gridColumnWidth: 60px;
$gridColumnWidth1200: 60px;
$gridGutterWidth1200: 10px;
$gridGutterWidth1200: 10px;
$sansFontFamily: 'Poly', serif;

@import "bootstrap";
@import "bootstrap-responsive";

// add your styles, see http://compass-style.org/

body {
    background-image: url('/images/graphy.png');
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
}

h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
}

pre {
    overflow: auto;
    code {
        white-space: pre;
    }
}

.content {
    background: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
}