$linkColor: #9BC4CE;
$baseFontSize: 16px;
$gridColumnWidth: 50px;
$gridColumnWidth1200: 50px;
$gridGutterWidth1200: 10px;
$gridGutterWidth1200: 10px;

@import "bootstrap";
@import "bootstrap-responsive";

// add your styles, see http://compass-style.org/
