<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic|Lobster+Two:400,700,400italic|Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="/stylesheets/screen.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/stylesheets/solarizedlight.css" type="text/css" />
    {% if site.feedburner %}
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    {% endif %}
    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
  <body>
      <header>
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-inner">
            <div class="container">
             
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
             
            <a class="brand" href="/">{{ site.title }}</a>
             
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/a-propos.html">A propos</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="http://git.luxifer.fr" target="_blank">Gitlab</a></li>
                    <li><a href="http://cloud.luxifer.fr" target="_blank">Cloud privé</a></li>
                    <li><a href="http://lxr.wf" target="_blank">URL Shortener</a></li>
                  </ul>
                </li>
                <li><a href="http://florentviel.com" target="_blank">CV</a></li>
              </ul>
            </div>
             
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
            <hr>
          </div>
        </div>
        <div class="row">
          {{ content }}
        </div>
      </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
