---
layout: default
---
<article class="padding10">
{{ content }}
</article>

<div class="row-fluid padding10">
  <div class="span2">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="florent_viel" data-lang="fr">Tweeter</a>
  </div>
  <div class="span2">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  </div>
  <div class="span2">
    <div class="g-plusone"></div>
  </div>
</div>

<div class="padding10">
  <ul class="pager">
    {% if page.previous %}
    <li class="previous"><a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>
    {% endif %}
    {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a></li>
    {% endif %}
  </ul>
</div>

{% if site.disqus %}
<div class="comments padding10">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ page.meta.dsq_thread_id ? page.meta.dsq_thread_id : page.url }}";
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endif %}