---
layout: default
article: true
---
{% capture header_class %}{% if page.meta.thumb %}has-cover{% endif %}{% endcapture %}
<header class="{{ header_class }} {% if page.dark %}dark{% else %}clean{% endif %}" style="{% if page.meta.thumb %}background-image:url(/images/{{ page.meta.thumb }});{% endif %}height:100%;">
  {% if page.video %}
    <video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
    {% for format in page.video %}
      <source src="{% for url in format limit:1 offset:1 %}{{ url }}{% endfor %}" type="video/{% for type in format limit:1 %}{{ type }}{% endfor %}">
    {% endfor %}
    </video>
  {% endif %}
  {% include top.html %}
  <div id="post-info">
    <h1>{{ page.title }}</h1>
    {% if page.quote %}
      <h2>{{ page.quote }}</h2>
    {% endif %}
    <a class="site-title" href="{{ site.url }}"><div class="site-icon-small" style="background-image: url({{ site.icon }});"></div>{{ site.title }}</a>, at {{ page.date | date_to_long_string }}
  </div>
  <div id="nav-icon" style="bottom: 30px;">
    <a class="scroll" href="#article"><span class="genericon genericon-expand"></span></a>
  </div>
</header>
<div id="middle">
  <div id="article">
    {{ content }}
    <p>
      <small>
        <em>
          Si vous trouvez une typo, n'hésitez pas à <a href="{{ site.github.repo }}/edit/master/{{ page.path }}">forker et éditer cet article</a>. Merci beaucoup !
        </em>
      </small>
    </p>
  </div>
  <div id="author">
    <hr>
    <div itemscope itemtype="http://data-vocabulary.org/Person">
      <h3>
        <a href="https://plus.google.com/110279340797376178645" rel="author">
          <img itemprop="photo" class="img-circle" src="https://secure.gravatar.com/avatar/34df2fcf73fb6b987f3e2ea2bcf47802?s=100" alt="Florent Viel"><br>
          <span itemprop="name">Florent Viel</span>
        </a>
      </h3>
      <p class="text-muted">
        <small>
          Je suis <span itemprop="title">Développeur</span>, passionné de nouvelles technologies. Je travaille acutellement pour <span itemprop="affiliation">Xotelia</span>, un gestionnaire de canaux de vente en SaaS.
        </small>
      </p>
    </div>
  </div>
  <div id="comments">
    {% include comments.html %}
  </div>
</div>
{% if page.next %}
  {% capture footer_style %}{% if page.next.dark %}dark{% else %}clean{% endif %}{% endcapture %}
  {% capture footer_image %}{% if page.next.meta.thumb %}background-image:url(/images/{{ page.next.meta.thumb }});{% endif %}{% endcapture %}
  {% capture footer_message %}Read next{% endcapture %}
  {% capture footer_url %}{{ page.next.url }}{% endcapture %}
  {% capture footer_title %}{{ page.next.title }}{% endcapture %}
  {% capture footer_class %}{% if page.next.meta.thumb %}has-cover{% endif %}{% endcapture %}
{% else %}
  {% for post in site.related_posts limit:1 %}
    {% capture footer_style %}{% if post.dark %}dark{% else %}clean{% endif %}{% endcapture %}
    {% capture footer_image %}{% if post.meta.thumb %}background-image:url(/images/{{ post.meta.thumb }});{% endif %}{% endcapture %}
    {% capture footer_message %}Featured post{% endcapture %}
    {% capture footer_url %}{{ post.url }}{% endcapture %}
    {% capture footer_title %}{{ post.title }}{% endcapture %}
    {% capture footer_class %}{% if post.meta.thumb %}has-cover{% endif %}{% endcapture %}
  {% endfor %}
{% endif %}
<footer id="footer-cover" class="{{ footer_class }} {{ footer_style }}" style="{{ footer_image }} height: 75%; min-height: 500px;">
  <div id="nav-icon" style="top: 60px;">
    <a class="scroll" href="#article"><span class="genericon genericon-collapse"></span></a>
  </div>
  <div id="post-info">
    <h3>{{ footer_message }}</h3>
    <a href="{{ footer_url }}">
      <h1>{{ footer_title }}</h1>
    </a>
  </div>
  <p class="copyright">&copy; {{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
<script>
  {% if page.meta.thumb == false %}
    $('header').geopattern('{{ page.title }}');
  {% endif %}
  {% if footer_class != "has-cover" %}
    $('footer').geopattern('{{ footer_title }}');
  {% endif %}
</script>
